.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  font-family: var(--font-geist-sans);
  display: flex;
  .card {
    height: 100vh;
    width: 33.333%;
    transition: width .25s linear;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #fff; */
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

  }
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;

  }
}